body{
    background-image: url(images/fundo.png);
}
table{
    border: none;
    width: 900px;
    margin: 0 auto;
}
.capa{
    width: auto;
}
.imagem{
    border: 10px outset #b8b8a6;
    display: flex;
    margin: 0 auto;
}
.fundoconteudo{
    background-color: #dfdfd7;
    padding-left: 40px;
    padding-right: 40px;
}
.fundomenu{
    background-color: #b8b8a6;
    padding-left: 40px;
    padding-right: 30px;
}
.menu{
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
}
.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: justify;
    color: #a0a089;
}
a{
    text-decoration: none;
    color: #49493d;
}
a:hover{
    color: #D2D2C0;
}
span{
    font-weight: 900;
}
.contato{
    background-color: #dfdfd7;
    padding-left: 40px;
    padding-right: 40px;    
}
input, textarea{
    padding: 5px;
}

